header.header
    .fixed-container
        .header-wrapper
            .name-wrapper
                .logo-wrapper
                    a(href="about.html")
                        img.logo(src="img/logo.png" alt="Логотип")
                a.name(href="about.html") Константин Константинов
            .contacts-wrapper
                button.button-contacts Мои контакты
                .contacts
                    ul.contacts__list.list-contacts
                        li.list-contacts__item
                            a.mail-link(href="mailto:kostya@mail.ru") kostya@mail.ru
                        li.list-contacts__item
                            a.number-link(href="tel: +79218876237") +7 921 887 62 37
                        li.list-contacts__item
                            a.skype-link(href="skype: kostik_?call") kostik
