section.career
    h2.name-section Карьерный путь
    .career-wrapper
        .background-block
            img.img-petersburg(src="img/petersburg-university.png" alt="Петербургский университет")
            img.img-work(src="img/work.jpg" alt="Собака")
            img.img-university(src="img/gorky-institute.jpg" alt="Институт Горького")
        .list-professions
            .bar
            .professions
                button.button-career#travel-stars1
                    p.place ООО &laquo;Звезды путешествий&raquo;
                    p.post Системный Администратор
                    p.date-work 2015 - по настоящее время
                .year
                    span 2016
            .professions
                button.button-career#petersburg-university
                    p.place Санкт-Петербургский государственный университет
                    p.date-work 2010 - 2015
                .year
                    span 2015
            .professions
                button.button-career#gorky-institute
                    p.place Технологический институт им.&nbsp;Горького
                    p.date-work 2012 - 2014
                .year
                    span 2014
            .professions
                button.button-career#travel-stars2
                    p.place ООО &laquo;Звезды путешествий&raquo;
                    p.post Помощник руководителя группы разработки
                    p.date-work 2015 - по настоящее время
                .year
                    span 2013