section.portfolio
    h2.name-section Портфолио
    .portfolio-wrapper
        a.portfolio-item.portfolio-item_margin(href="#")
            img.portfolio-item__img(src="img/app.png" alt="Мобильное приложение")
            p.portfolio-item__name Deals App
            p.portfolio-item__description Продажа одежды
            p.portfolio-item__app-category Приложение
        a.portfolio-item.portfolio-item_margin(href="#")
            img.portfolio-item__img(src="img/dream.png" alt="Мобильное приложение")
            p.portfolio-item__name Deals-scapes
            p.portfolio-item__description Лагуна Люфтангаза
            p.portfolio-item__pc-category Лендинг
        a.portfolio-item.portfolio-item_margin(href="#")
            img.portfolio-item__img(src="img/creative-studio.png" alt="Мобильное приложение")
            p.portfolio-item__name Creative studio
            p.portfolio-item__description Танцевальная студия
            p.portfolio-item__pc-category Корпоративный сайт
        a.portfolio-item.portfolio-item_margin(href="#")
            img.portfolio-item__img(src="img/studio.png" alt="Мобильное приложение")
            p.portfolio-item__name Studio Frog
            p.portfolio-item__description Мебельный магазин
            p.portfolio-item__pc-category Лендинг
        a.portfolio-item.portfolio-item_margin(href="#")
            img.portfolio-item__img(src="img/carbonara.png" alt="Мобильное приложение")
            p.portfolio-item__name Carbonara
            p.portfolio-item__description Итальянский ресторан
            p.portfolio-item__pc-category Лендинг
         
                