section.about-me
    .photo-wrapper
        img(src="img/big-photo.png" alt="Фотография")
    .about-wrapper
        h2.name-section Обо мне
        .text-wrapper
            p.text.
                Меня зовут Костя. Проживаю на Юге Башкортостана,
                с появлением интернета, с головой увлёкся этой темой,
                и теперь уже почти живу Он-Лайн.
            p.text.
                С недавних пор (уже года два), это уже не просто увлечение,
                но и нормальный зароботок для меня и моей семьи, на этом конечно не собираюсь останавливаться, a&nbsp;буду&nbsp;стараться&nbsp;добиться ещё больших результатов!
            p.text Интернет сообщество очень интересно
            p.text.
                Интернет сообщество очень интересно
                ла ла ла ла ла ла ла ла ла ла ла л ла ла ла ла ла
            p.text.
                Интернет сообщество очень интересно
                ла ла ла ла ла ла ла ла ла ла ла л ла ла ла ла ла
            p.text.
                Интернет сообщество очень интересно
                ла ла ла ла ла ла ла ла ла ла ла л ла ла ла ла ла
            p.text.
                Интернет сообщество очень интересно
                ла ла ла ла ла ла ла ла ла ла ла л ла ла ла ла ла
            p.text.
                Интернет сообщество очень интересно
                ла ла ла ла ла ла ла ла ла ла ла л ла ла ла ла ла
            p.text.
                Интернет сообщество очень интересно
                ла ла ла ла ла ла ла ла ла ла ла л ла ла ла ла ла
        a.link-download.link-download_position(href="Резюме.docx") Скачать резюме